h4{
    font-size: 1.4em;
    margin-bottom: 20px;
}

.wrapper{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../../assets/images/trip-planning-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}

.app-title{
    text-align: center;
    color: white;
    padding: 30px 0 10px 0;
    font-family: 'Satisfy', cursive;
    font-size: 6.8em;
}

.tagline{
    text-align: center;
    color: white;
    margin: 0 auto 30px auto;
    font-size: 1.2em;
    letter-spacing: 1px;
    max-width: 60%;
}

.signup-box{
    padding: 25px 30px;
    background: #f9efeb;
    max-width: 440px;
    margin: 0 auto 20px auto;
    text-align: center;
    border-radius: 2px;
}

.fa-facebook-square{
    margin-right: 10px;
}

.fb{
    background: #3B5998;
    color: white;
    padding: 8px 16px;
    border: none;
    margin-left: 10px;
}

.auth-button {
    background: #9a325f;
    color: white;
    padding: 8px 26px;
    border: none;
    margin-top: 0;
}

.inputs{
    margin-right: 10px;
    margin-top: 10px;
}

.auth-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.auth-group{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.fake-link{
    cursor: pointer;
}
