<div class="wrapper">
  <h1 class="app-title">Vocal Local</h1>
  <div class="tagline">Share your favorite places in the cities you love.<br>Plan your next trip based on friends' recommendations.</div>

    <div *ngIf="hasAccount" class="signup-box">
        <h4>Log in to your account</h4>
    <div class="auth-container">
      <div class="inputs"><input placeholder="Your email" [(ngModel)]="auth.email" type="text">
        <br>
        <input placeholder="Your password" [(ngModel)]="auth.password"  type="password">
      </div>
        <button class="auth-button" (click)="handleLogin()" >Sign In</button>

      </div>
      <button class="fb" (click)="loginWithFacebook()"><i class="fab fa-facebook-square"></i>Continue with Facebook</button>
        <p>Don't have an account? <span class="fake-link" (click)="hasAccount=!hasAccount" >Click here.</span></p>
    </div>


    <div *ngIf="!hasAccount" class="signup-box">
        <h4>Sign up for an account</h4>

          <div class="auth-group">
            <div>
    <label for="username">Username:</label>
  </div>
  <div>
    <input type="text" name="username" [(ngModel)]="username" minlength="3" required #myUsername="ngModel">
  </div>
  </div>
  <div class="auth-group">
    <label for="email">Email:</label>
    <input type="email" name="email" [(ngModel)]="email" required>
  </div>
  <div class="auth-group">
    <label for="password">Password:</label>
    <input type="password" name="password" [(ngModel)]="password" #myPassword="ngModel" minlength="3" required>
  </div>
  <div class="auth-group">
      <label for="password2">Password:</label>
      <input type="password" name="password2" [(ngModel)]="password2" #myPassword2="ngModel" required>
    </div>

  <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
      <div class="alert alert-warning" [hidden]="!myPassword.errors.required">
        Password is required
      </div>
    </div>
      <div *ngIf="myUsername.errors && (myUsername.dirty || myUsername.touched)" class="alert alert-warning" [hidden]="!myUsername.errors.required">
          Username is required
        </div>
      <div class="alert alert-warning" *ngIf="myUsername.errors.minlength">
          Username must be at least 3 characters long.
        </div>
        <div class="alert alert-warning" *ngIf="myPassword.errors.minlength">
            Password must be at least 3 characters long.
          </div>

          <div *ngIf="myPassword != myPassword2 && (myPassword2.dirty || myPassword2.touched)" class="alert alert-warning" [hidden]="!myUsername.errors.required">
              Username is required
            </div>


    <br>
    <button class="auth-button" (click)='handleSignup()'>Sign Up</button>
    <p>Have an account? <span class="fake-link" (click)="hasAccount=!hasAccount" >Click here.</span></p>

    </div>

</div>
