<div *ngIf="!user">
Whoops! Looks like you need to <a [routerLink]="['/signup']">log in</a>.

</div>

<div *ngIf="user">
    <section id="welcome">
<h2>Hi, {{user.username}}.</h2>
<p>Your city expertise:</p>
<div class="grid">
    <div class="city" *ngFor="let list of user.lists">
        <b>{{list.city}}:</b> {{list.cityLevel}} <i class="fas fa-star"></i>
    </div>
</div>
<p>Add a city and begin building your list.<br />
    <input placeholder="City name" [(ngModel)]="newCity" type="text"><button (click)="handleCity()">Add</button></p>
</section>

<section id="my-lists">

<h4>My Lists</h4>
<div class="grid">
<div class="list" *ngFor="let list of user.lists">
    <b>{{list.listName}}</b>
    <br>
    <a [routerLink]="['/list-detail', list._id]"><button class="btn-ctr">View List</button></a>
    </div>
</div>

</section>

<section>
<h4>Saved Lists</h4>


    <div class="friends"><h4>My Friends</h4></div>
</section>

<p><button class="btn-ctr" (click)="handleLogout()">Log out</button></p>

