<div *ngIf="!user">
Whoops! Looks like you need to <a [routerLink]="['/signup']">log in</a>.

</div>

<div *ngIf="user">
<h3>User Dashboard</h3>

<div id="user-info">
<p>Email: {{user.username}}</p>
</div>
<div id="expertise">
Add a city: <input placeholder="city name" [(ngModel)]="newCity" type="text"><button (click)="handleCity()">Add</button>
</div>


<div class="lists">
<h4>My Lists</h4>
<ul *ngFor="let list of user.lists">
    <a [routerLink]="['/list-detail', list._id]">
    <li>{{list.listName}}</li></a>
</ul>
</div>

<div class="lists">
Saved Lists
    </div>


<p><button (click)="handleLogout()">Log out</button></p>
</div>
