<div *ngIf="!user">
Whoops! Looks like you need to <a [routerLink]="['/signup']">log in</a>.
</div>

<div *ngIf="user">
    <section id="welcome">
        <div id="welcome-box">
<h2 *ngIf="sameUser">Hi, {{profUser.username}}.</h2>
<h2 *ngIf="!sameUser">{{profUser.username}}'s Profile</h2>
<div *ngIf="sameUser">
<h3>Where will you go next?</h3>
<p class="left">Find your friends' favorite places.</p>
<a [routerLink]="['/list-search']"><button>Search by city</button></a>
</div>
</div>



<div id="my-cities">
<p *ngIf="sameUser">Your city expertise:</p>
<p *ngIf="!sameUser">{{profUser.username}}'s city expertise:</p>

<div class="grid">
    <div class="city hvr-grow" *ngFor="let list of profUser.lists">
            <a [routerLink]="['/list-detail', list._id]">
        <b>{{list.city}}:</b> {{list.cityLevel}} <i class="fas fa-star"></i></a>
    </div>
</div>
<div *ngIf="sameUser">Add a city and begin building your list of tips.<br />
    <input placeholder="City name" [(ngModel)]="newCity" type="text" required minlength="1"><button (click)="handleCity()">Add</button></div>

</div>
</section>

<section id="my-lists">

<h4 *ngIf="sameUser">My Lists</h4>
<h4 *ngIf="!sameUser">{{profUser.username}}'s Lists</h4>

<div class="grid">
<div class="list" *ngFor="let list of profUser.lists">
   <div class="list-deets"><b>{{list.listName}}</b></div>
    <a [routerLink]="['/list-detail', list._id]"><div class="list-button">view list</div></a>
    </div>
</div>

</section>

<section id="saved-lists" *ngIf="sameUser">
<h4>Saved Lists</h4>
</section>

    <section id="friends" *ngIf="sameUser">
        <h4>My Friends</h4>
        <h3>Get recommendations from the people you trust.</h3>
        <div class="friend-box" *ngFor="let friend of user.friends"><a [routerLink]="['/dashboard', friend._id]">{{friend.username}}</a></div>
        <a [routerLink]="['/users', user._id]"><button class="btn-ctr">Find friends</button></a>
    </section>


<p><button class="btn-ctr logout" (click)="handleLogout()">Log out</button></p>
</div>

