section{
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
}

input {
    margin-right: 20px;
}

a:hover{
    text-decoration: none;
}

#welcome{
   text-align: center;
}

#my-lists{
    background: white;
}

.grid{
    display:flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    padding: 20px 0;
}

.city{
    padding: 20px;
    border-right: 1px #B0B0B0 solid;
}

.city:last-child{
    border: none;
}

.list{
    max-width: 300px;
    padding: 20px;
    background: #cbdae7;
    margin: 10px;
}

.fa{
    font-family: Avenir, sans-serif;
    font-weight: normal;
}

.fa-stack-1x{
    text-align: left;
    margin-left: 8px;
}

.fa-star{
    font-size: 1.4em;
}

.fa-star{
    color:#EFC050;
}

.btn-ctr{
    margin: 0 auto;
    display:block;
}