    <div class="form-container">
        <h3>How much time have you spent in {{currentCity}}?</h3>
        <p>Check all that apply:</p>
        <div class="checkboxes">
        <input type="checkbox"  (change)="addExp($event)" id="five"> I live there now<br>
        <input type="checkbox" (change)="addExp($event)" id="four"> I used to live there<br>
        <input type="checkbox"(change)="addExp($event)" id="three"> I visit frequently<br>
        <input type="checkbox"(change)="addExp($event)" id="two"> I've visited in the last two years<br>
        <input type="checkbox"(change)="addExp($event)" id="one"> I visited more than two years ago<br>
    </div>
        <button class="btn-ctr" (click)="handleSurvey()">Submit</button>
</div>
<a [routerLink]="['/dashboard', user._id]"><button>Dashboard</button></a>
