.title{
    text-align: center;
    padding: 50px 0 20px 0;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.flex-wrapper{
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-between; */
    max-width: 450px;
    margin: 0 auto;
}

.delete {
    font-size: .9em;
    border-radius: 5px;
    padding: 5px 8px;
    background: #DD4124;
}

.delete-p{
    margin-top: 30px;
}

.left-space{
    margin-left: 5px;
}

.delete-p:hover{
    cursor: pointer;
}

.trash-extra{
    cursor: pointer;
    color: #2E4A62;
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.item {
    background: white;
    padding: 20px 30px;
    margin: 5px auto;
    position: relative;
}

.list-items{
    margin: 0 auto;
}

#foursquare-search{
    margin: 30px auto;
    text-align: center;
}


.btn-ctr{
    margin-top: 40px;
}