<div class="container">
  <div class="title">
<h2>{{list.listName}}</h2>
<h4><b>City Expertise:</b> {{list.cityLevel}} <i class="fas fa-star"></i></h4>
<p (click)="removeList(list._id)" *ngIf="sameUser" class="delete-p hvr-grow">Delete this list <i class="fas fa-trash-alt left-space"></i></p>
</div>

<div class="flex-wrapper">

    <div class="list-items">
        <div id="myList" *ngFor="let place of list.places"><div class="item">
          <!-- <img src="{{place.img}}"> -->
          <h4>{{place.name}}</h4>
          {{place.type}}

          <i *ngIf="sameUser" (click)="removePlace(place._id)" class="fas fa-trash-alt hvr-grow trash-extra"></i>
        </div></div>
      </div>
    </div>

<div id="manage-list">
  <div id="save-list" *ngIf="!sameUser">
    <button class="btn-ctr" (click)="handleSave()">Save This List</button>
  </div>

<div id="foursquare-search" *ngIf="sameUser">
<p>Search for a place to add to your list:</p>
<input type="text" name="query" [(ngModel)]="searchInput"><br>
<button id="button" (click)="search()">Search</button>

</div>

<div id="results" *ngFor="let result of searchResults; let i=index">
<div class="found-place">
        <img src="{{imgArray[i]}}">
        <div class="found-text">
    <b>{{result.name}}</b> <br>
      {{result.categories[0].name}}
      <p>{{result.location.address}}</p>
      <div class="add" (click)="handleNewPlace(result)">add to list</div>
    </div>
  </div>
</div>

<div class="two-buttons" *ngIf="!sameUser">
<a [routerLink]="['/dashboard', list.user._id]"><button class="btn-ctr">{{list.user.username}}'s Profile</button></a>

<a [routerLink]="['/dashboard', currentUser._id]"><button class="btn-ctr">My Dashboard</button></a>
</div>

<div *ngIf="sameUser">
<a [routerLink]="['/dashboard', currentUser._id]"><button class="btn-ctr logout">My Dashboard</button></a>
</div>

</div>

