.container{
    width: 400px;
    margin: 40px auto;
}

#flex-container{
    display: flex;
    flex-flow: row wrap;
}

h2{
    text-align: center;
}

.user {
    background: white;
    padding: 20px 30px;
    margin: 10px;
    width: 350px;
}

.user button{
    margin: 0 10px;
}