<div class="container">
<h2>Add Friends</h2>

<div id="flex-container">
<div class="user" *ngFor="let user of users">
<h3>{{user.username}}</h3>
Has lists for:<br>
<ul *ngFor="let list of user.lists"><li><i class="fas fa-map-marker-alt"></i> {{list.city}}</li></ul>
<br>
<a [routerLink]="['/dashboard', user._id]"><button>View Profile</button></a><button (click)="handleNewFriend(user)">Connect</button>
</div>
</div>
<a [routerLink]="['/dashboard', user._id]"><button class="btn-ctr">Dashboard</button></a>

</div>